<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=500" />
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">
  <title>Popup</title>
  <style>
    * {
      scrollbar-width: none;
    }

    body {
      width: 420px;
      overflow: auto;
      scrollbar-width: none;
      -ms-overflow-style: none;
    }

    body ::-webkit-scrollbar {
      display: none;
    }

    ::-webkit-scrollbar { width: 0px; height: 0px; }
  </style>
</head>

<body>
  <div id="popup-root"></div>
</body>

</html>